node_modules/
target/
node/
*.iml
.DS_Store
.idea/
pom.xml.versionsBackup
docs/build
*.project
*.settings/
*.vscode/
*.classpath
*.factorypath
*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
