.plotly-histogram .axistext path {
  fill: white !important;
  stroke: black !important;
  fill-opacity: 1 !important;
}

.plotly-histogram .axistext text {
  fill: black !important;
}

.plotly-histogram svg .subplot.xy path.ygrid {
  stroke: black !important;
}

.plotly-histogram svg .barlayer .trace.bars:nth-of-type(1) path,
.plotly-histogram svg .barlayer .trace.bars:nth-of-type(2) path,
.plotly-histogram svg .legend .traces:nth-of-type(1) path,
.plotly-histogram svg .legend .traces:nth-of-type(2) path {
  fill: black !important;
  stroke: black !important;
}

.theme-dark .plotly-histogram .axistext path {
  fill: black !important;
  stroke: white !important;
  fill-opacity: 1 !important;
}

.theme-dark .plotly-histogram .axistext text {
  fill: white !important;
}

.theme-dark .plotly-histogram svg .subplot.xy path.ygrid {
  stroke: white !important;
}

.theme-dark .plotly-histogram svg .barlayer .trace.bars:nth-of-type(1) path,
.theme-dark .plotly-histogram svg .barlayer .trace.bars:nth-of-type(2) path,
.theme-dark .plotly-histogram svg .legend .traces:nth-of-type(1) path,
.theme-dark .plotly-histogram svg .legend .traces:nth-of-type(2) path {
  fill: white !important;
  stroke: white !important;
}
