resultCount=I"250"
exportResultLimit=I"1000"
imageryProviders=""
terrainProvider="{\ \"type\":\ \"CT\",\ \"url\":\ \"http://assets.agi.com/stk-terrain/tilesets/world/tiles\"\ }"
defaultLayout="[{\"type\":\ \"stack\",\ \"content\":\ [{\"type\":\ \"component\",\ \"component\":\ \"cesium\",\ \"componentName\":\ \"cesium\",\ \"title\":\ \"3D\ Map\"},\ {\"type\":\ \"component\",\ \"component\":\ \"inspector\",\ \"componentName\":\ \"inspector\",\ \"title\":\ \"Inspector\"}]}]"
visualizations="[{\"name\":\"openlayers\",\"title\":\"2D\ Map\",\"icon\":\"map\"},{\"name\":\"cesium\",\"title\":\"3D\ Map\",\"icon\":\"globe\"},{\"name\":\"inspector\",\"title\":\"Inspector\",\"icon\":\"info\"},{\"name\":\"histogram\",\"title\":\"Histogram\",\"icon\":\"bar-chart\"},{\"name\":\"table\",\"title\":\"Table\",\"icon\":\"table\"}]"
listTemplates=[ \
  ]
projection="EPSG:4326"
bingKey=""
timeout=I"300000"
sourcePollInterval=I"60000"
signInEnabled=B"true"
taskEnabled=B"false"
gazetteerEnabled=B"true"
onlineGazetteerEnabled=B"true"
ingestEnabled=B"true"
cacheEnabled=B"true"
webSocketsEnabled=B"false"
localCatalogEnabled=B"true"
historicalSearchEnabled=B"true"
archiveSearchEnabled=B"true"
queryFeedbackEnabled=B"false"
experimentalEnabled=B"false"
relevanceScoresEnabled=B"false"
relevancePrecision=I"5"
logoEnabled=B"false"
unknownErrorBoxEnabled=B"true"
metacardPreviewEnabled=B"true"
spellcheckEnabled=B"false"
phoneticsEnabled=B"false"
fuzzyResultsEnabled=B"true"
customTextNotationEnabled=B"false"
customTextNotationAttribute="title"
basicSearchTemporalSelectionDefault=[ \
  "created", \
  "effective", \
  "modified", \
  "metacard.created", \
  "metacard.modified", \
  ]
basicSearchMatchType="datatype"
typeNameMapping=[ \
  ]
readOnly=[ \
  "^checksum$", \
  "^checksum-algorithm$", \
  "^id$", \
  "^resource-download-url$", \
  "^resource-uri$", \
  "^resource.derived-uri$", \
  "^resource.derived-download-url$", \
  "^modified$", \
  "^metacard-tags$", \
  "^metadata$", \
  "^metacard-type$", \
  "^source-id$", \
  "^point-of-contact$", \
  "^metacard.", \
  "^version.", \
  "^validation.", \
  ]
summaryShow=[ \
  "created", \
  "modified", \
  "thumbnail", \
  ]
iconConfig=[ \
  "default\=fa\ fa-file,f15b,FontAwesome,12px", \
  "interactive\=fa\ fa-gamepad,f11b,FontAwesome,12px", \
  "dataset\=fa\ fa-database,f1c0,FontAwesome,12px", \
  "video\=fa\ fa-video-camera,f03d,FontAwesome,12px", \
  "collection\=fa\ fa-folder-open,f1c0,FontAwesome,12px", \
  "event\=fa\ fa-bolt,f0e7,FontAwesome,12px", \
  "service\=fa\ fa-globe,f0ac,FontAwesome,12px", \
  "software\=fa\ fa-terminal,f120,FontAwesome,12px", \
  "sound\=fa\ fa-music,f001,FontAwesome,12px", \
  "text\=fa\ fa-file-text,f15c,FontAwesome,12px", \
  "document\=fa\ fa-file,f15b,FontAwesome,12px", \
  "image\=fa\ fa-camera,f030,FontAwesome,12px", \
  "track\=fa\ fa-thumb-tack,f08d,FontAwesome,12px", \
  ]
resultShow=[ \
  ]
scheduleFrequencyList=L[ \
  "1800", \
  "3600", \
  "7200", \
  "14400", \
  "28800", \
  "57600", \
  "86400", \
  ]
autoMergeTime=I"1000"
queryFeedbackEmailSubjectTemplate="Query\ Feedback\ from\ {{username}}"
queryFeedbackEmailBodyTemplate="<h2>Query\ Feedback</h2><p><br><b>Authenticated\ User</b>:\ {{{auth_username}}}<br><br><b>User</b>:\ {{{username}}}<br><br><b>Email</b>:\ {{{email}}}<br><br><b>Workspace</b>:\ {{{workspace_name}}}\ ({{{workspace_id}}})<br><br><b>Query</b>:\ {{{query}}}<br><br><b>Query\ time</b>:\ {{{query_initiated_time}}}<br><br><b>Query\ status</b>:\ {{{query_status}}}<br><br><b>Comments</b>:\ {{{comments}}}<br><br><b>Query_results</b>:\ <pre>{{{query_results}}}</pre></p>"
queryFeedbackEmailDestination=""
maximumUploadSize=I"1048576"
mapHome=""
attributeEnumMap=[ \
  ]
requiredAttributes=[ \
  ]
defaultSources=[ \
  ]
defaultTableColumns=[ \
  ]
helpUrl="https://codice.org/ddf/docs/documentation.html"
customBranding="DDF"
product="Intrigue"
landingPageBackgroundSrc=""
topLeftLogoSrc=""
bottomLeftLogoSrc=""
bottomLeftBackgroundSrc=""
menuIconSrc=""