.color-default(){
  color: @default-color;
}

.color-primary() {
  color: @primary-color;
}

.color-success() {
  color: @success-color;
}

.i-clickable() {
  cursor: pointer;
  .color-primary();

  &:hover {
    .color-default();
  }

  &:active {
    .color-success();
  }

}

.customElement {
  width: 100%;
  height: 100%;
  display: block;
}

.is-button {
  cursor: pointer;

  &:hover {
    background: rgba(66,66,66,.9);
  }
}

.is-dropdown {
  cursor: pointer;

  &:hover {
    background: rgba(66,66,66,.9);
  }
}

.is-dropdown.is-open {

  &:hover {
    background: rgba(66,66,66,.6);
  }
}
