@{customElementNamespace}map {
  background: inherit;

  .mapInfo {
    background: inherit;
  }

  #mapContainer {
    background: inherit;
  }

  .cesium-viewer {
    background: inherit;
  }

  .cesium-button {
    vertical-align: top;
    background: inherit;
    color: inherit;
  }

  .map-context-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .toolbar-panzoom {
    margin-left: 0 !important;
    margin-bottom: @minimumSpacing;
  }
}
